@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
  padding: 0%;
  margin: 0%;
}
main {
  position: relative;
}
.leftsection {
  width: 30vw;
  background-color: blueviolet;
  height: 100vh;
  z-index: -1;
}
.rightsecton {
  z-index: -1;
  width: 70vw;
  height: 100vh;
  position: relative;
}
form {
  position: absolute;

  top: 25vh;
  right: 15vw;
  color: #404040;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.86px;
}
input {
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.13);
  font-size: 20px;
  background: #fff;
  display: flex;
  height: 44px;
  color: #bbb9bc;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.875px;
  padding-left: 12px;
}
.labelin {
  font-size: 16px;
  margin-bottom: 3vh;
}
.colinput {
  display: flex;
  flex-direction: column;
  width: 373px;
}
.rowin {
  display: flex;
}
#cvclabel {
  margin-left: 26px;
}
#exmonthinput {
  width: 66px;
}
#exyearinput {
  width: 66px;
  margin-left: 15px;
  margin-right: 22px;
}
#cvcinput {
  width: 177px;
}
button {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.16px;
  border-radius: 6px;
  background: #220930;
  width: 385px;
  height: 53px;
  margin-top: 5vh;
}
.cardfront {
  position: absolute;
  top: 0;
  color: #fff;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.68px;
  margin-top: 10vh;
  margin-left: 12vw;
}
.cardback {
  position: absolute;
  top: 0;
  color: #fff;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.68px;
  margin-top: 45vh;
  margin-left: 18vw;
}
.lowerdata {
  display: flex;
  text-align: center;
  margin-inline: 5vh;
  justify-content: space-between;
  color: #fff;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.47px;
  margin-top: 3vh;
}
.data {
  display: flex;
  flex-direction: column;
  margin-top: 30%;
  text-align: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
